@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --cor-primaria: #e4e4e4;
  --cor-secundaria: #000000;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 1.5% 0 1.5% 0;
  background-color: #f3f3f3;
}

.cabecalho__logo__e__nome__le {
  display: flex;
  align-items: center;
  gap: 13px;
  /* width: 30%; */
}

.cabecalho__nome__le {
  color: #413038;
  font-family: var(--fonte-secundaria);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: max-content;
}

.cabecalho__therapist__le {
  color: #413038;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cabecalho__menu {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  gap: 20%;
  /* gap: 590px; */
}

.cabecalho__links {
  display: flex;
  gap: 40px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  text-align: center;
  width: max-content;
}

.cabecalho__menu__link:hover {
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  /* text-decoration: underline rgba(0, 0, 0, 0.27) 1px; */
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.apresentacao__conteudo__titulo {
  /* font-size: 2.5rem; */
  width: 26.375rem;
  height: 24.3125rem;
  font-family: var(--fonte-secundaria);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  width: 18.25rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 32px;
}
.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}
/* .apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
} */

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 6.5px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 31px;
  background: linear-gradient(162deg, #902621 0%, #902621 100%);
  font-family: var(--fonte-secundaria);
  box-shadow: 0px 9px 35px 0px #f5a29f;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
}

.apresentacao__imagem {
  width: 50%;
  border-radius: 10%;
}

.sobre__mim {
  background-color: #902621;
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 10%;
}

.sobre__mim__imagem {
  width: min-content;
}

.sobre__mim__titulo {
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: max-content;
}

.sobre__mim__texto {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.sobre__mim__paragrafos {
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 400px;
}

.sobre__mim__botao__curriculo {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #902621;
  font-family: var(--fonte-secundaria);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 10px;
  background: linear-gradient(162deg, #fff 0%, #fff 100%);
  box-shadow: 0px 9px 35px 0px #ec627c;
}

.frase__section {
  background-color: #e4e4e4;
  padding: 8%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.frase__texto {
  color: #000;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.frase__autor {
  color: #b19c83;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.abordagens {
  background-color: #902621;
  padding: 5% 15% 10% 15%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.abordagens__titulo {
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.abordagens__abordagem {
  display: flex;
}

.abordagens__abordagem__imagem {
  width: 37.5rem;
  height: 18.3125rem;
}

.abordagens__abordagem__conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #d9d9d9;
  width: 42.3%;
  padding: 5%;
}

.abordagens__abordagem__titulo {
  color: #392a31;
  font-family: var(--fonte-secundaria);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.abordagens__abordagem__texto {
  color: #000;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contato__section {
  padding: 6% 15% 25% 15%;
  background-color: #292229;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contato__titulo {
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.contato__texto {
  width: 45.4375rem;
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contato__botoes {
  display: flex;
  gap: 1.5rem;
}

.contato__telefone {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contato__telefone__texto {
  color: #fff;
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rodape {
  justify-content: center;
  gap: 9rem;
  background-color: #292229;
  padding: 24px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.scroll__container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.scroll__container:before {
  content: "";
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll__container a {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  color: #902621;
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 22px 20px;
  text-decoration: none;
  border-radius: 31px;
  background: white;
  font-family: var(--fonte-secundaria);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1206px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse; /* column para ficar imagem e section um em cima do outro, e REVERSE para a imagem que estava ao final do html, ir para o início*/
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto; /* dizendo que o width é auto, indicamos que é para ser usado TODO o width da classe pai, que seria o apresentacao. tambem poderia ser usado o width: 100%, que ocuparia 100% da classe pai*/
    text-align: center;
  }
}
